@namespace Hwavmvid.Roulette
@inherits RouletteComponentBase

@using System
@using System.Linq
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Hwavmvid.Rouletteshared.Items

<div class="p-1 p-sm-2 text-center bg-transparent">

    @if (loading)
    {
        <div class="text-center w-100 p-3 bg-light text-dark">
            <img src="/Modules/Oqtane.ChatHubs/rouletteloading.gif" />
        </div>
    }

    @if (!loading)
    {
        <div class="mx-auto p-0" style="width: 420px">

            <div class="roulette-map" style="width: @(containerwidth)px; height: @(containerheight)px;">

                @foreach (var row in Map.Rows)
                {

                    <div class="row p-0 g-0">

                        @foreach (var col in Map.Columns.Where(item => item.RowId == row.RowId))
                        {                            

                            <div class="col position-relative p-0" style="width: @(griditemwidth)px; height: @(griditemheight)px;">
                                
                                @foreach (var item in col.Items)
                                {
                                    <div class="position-absolute @(item.GetType() == typeof(RouletteCarpet) ? "w-100 h-100" : string.Empty)" style="z-index: @(item.ZIndex); background-color: @(item.BackgroundColor); transform: rotate(@(item.Rotation)deg); top: 0px; left: 0px;">

                                        @if (item.GetType() == typeof(RouletteBall))
                                        {
                                            <img src="/Modules/Oqtane.ChatHubs/@(string.Concat(item.ImageUrl, item.ImageUrlExtension))" width="@item.ImageWidth" height="@item.ImageHeight" />
                                        }

                                        else if (item.GetType() == typeof(RouletteNumber))
                                        {
                                            <small style="color: white; font-size: 8px;">@item.Value</small>
                                        }

                                        else if (item.GetType() == typeof(RouletteNumbers))
                                        {
                                            <img src="/Modules/Oqtane.ChatHubs/@(string.Concat(item.ImageUrl, item.ImageUrlExtension))" width="@item.ImageWidth" height="@item.ImageHeight" />
                                        }

                                        else if (item.GetType() == typeof(RouletteBallRaceway))
                                        {
                                            <img src="/Modules/Oqtane.ChatHubs/@(string.Concat(item.ImageUrl, item.ImageUrlExtension))" width="@item.ImageWidth" height="@item.ImageHeight" />
                                        }

                                        else if (item.GetType() == typeof(RouletteCarpet)) {}

                                    </div>
                                }

                            </div>                            

                        }

                    </div>
                }

            </div>

        </div>
    }

</div>

@code {

}
